<section class="half-panel {{#if inverted}}inverted{{/if}}">
    <div class="half-image">
        <img src="{{img-src}}" alt="{{img-alt}}">
    </div>
    <div class="half-text">
        <h2>{{title}}</h2>
        <p>{{text}}</p>
        {{#if button-text}}
        <a href="{{button-link}}" class="btn">{{button-text}}</a>
        {{/if}}
    </div>
</section>